.btn-page {
    font-family: 'Montserat', 'Arial', sans-serif;
    border: none;
    // background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $menu-color;
    margin-bottom: 7px;
}
