.logo {
    align-self: start;
    display: flex;
    margin-top: 15px;
    &__icon {
    width: 69px;
    height: 32px;
    }
    &__page {
    vertical-align: top;
    font-size: 20px;
    line-height: 24px;
    color: #323264;
    background-image: url('../img/slash-01.svg');
    background-repeat: no-repeat;
    background-position: left 4px top;
    padding-left: 20px;
    }
}
@media screen and(min-width: 768px) {
    .logo {
        grid-column: 1/3;
        margin: 20px 0;
        &__icon {
            width: auto;
            height: auto;
        }
        &__page {
            font-size: 36px;
            line-height: 44px;
            background-image: url('../img/slash-02.svg');
            padding-left: 26px;
        }
    }
}
@media screen and(min-width: 992px) {
    .logo {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
        margin-top: 38px;
        padding-left: 30px;
        &__page {
            padding-left: 30px;
        }
    }
}
