.partners {
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        margin-top: 60px;
        margin-bottom: 27px;
    }
}
