$maincolor: #ffffff;
$activecolor: #F0145A;
$hovercolor: #ffffff33;
$top-mob-color: #f5f5fa33;
$menu-color: #24A3FF;
$bg-color: #E6E6F0;
$menu-slider-color: #B3B3BA;
$menu-slider-shadow-color: #967575f3;
$black: #000000;
$bg-color-pages: #F5F5FA;
$text-color: #323264;
